*.class
build/
.deps/
*.so
*.o
*.tex
tools*Makefile
tools*Makefile.in

## keep docs out of the way, not to mess up diffs
doc/pdf/*.pdf
doc/html/*.html
doc/nesdoc/

## these should be added individually
tools/Makefile
tools/Makefile.in
tools/aclocal.m4
tools/autom4te.cache/
tools/config-aux/
tools/config.status
tools/configure
tools/platforms/Makefile
tools/platforms/Makefile.in
tools/platforms/mica/Makefile
tools/platforms/mica/Makefile.in
tools/platforms/mica/cc1000-channelgen/Makefile
tools/platforms/mica/cc1000-channelgen/Makefile.in
tools/platforms/mica/cc1000-channelgen/tos-channelgen
tools/platforms/mica/uisp/
tools/platforms/msp430/Makefile
tools/platforms/msp430/Makefile.in
tools/platforms/msp430/motelist/Makefile
tools/platforms/msp430/motelist/Makefile.in
tools/platforms/msp430/motelist/motelist
tools/platforms/msp430/pybsl/Makefile
tools/platforms/msp430/pybsl/Makefile.in
tools/platforms/msp430/pybsl/serial/Makefile
tools/platforms/msp430/pybsl/serial/Makefile.in
tools/platforms/msp430/pybsl/tos-bsl
tools/platforms/msp430/pybsl/tos-bsl.1
tools/tinyos/Makefile
tools/tinyos/Makefile.in
tools/tinyos/java/Makefile
tools/tinyos/java/Makefile.in
tools/tinyos/java/env/Makefile
tools/tinyos/java/env/Makefile.in
tools/tinyos/java/serial/Makefile
tools/tinyos/java/serial/Makefile.in
tools/tinyos/misc/Makefile
tools/tinyos/misc/Makefile.in
#tools/tinyos/misc/tos-ident-flags
#tools/tinyos/misc/tos-install-jni
#tools/tinyos/misc/tos-serial-debug
#tools/tinyos/misc/tos-set-symbols
#tools/tinyos/misc/tos-storage-at45db
#tools/tinyos/misc/tos-storage-pxa27xp30
#tools/tinyos/misc/tos-storage-stm25p
#tools/tinyos/misc/tos-write-buildinfo
#tools/tinyos/misc/tos-write-image
tools/tinyos/ncc/Makefile
tools/tinyos/ncc/Makefile.in
#tools/tinyos/ncc/mig
#tools/tinyos/ncc/ncc
#tools/tinyos/ncc/ncg
#tools/tinyos/ncc/nesdoc
tools/tinyos/ncc/nesdoc-py/Makefile
tools/tinyos/ncc/nesdoc-py/Makefile.in
tools/tinyos/safe/Makefile
tools/tinyos/safe/Makefile.in
tools/tinyos/tosthreads/Makefile
tools/tinyos/tosthreads/Makefile.in
tools/tinyos/tosthreads/tosthreads-dynamic-app
support/sdk/java/net/tinyos/packet/Serial.java
apps/tests/TestSerial/TestSerialMsg.java
support/sdk/c/blip/Makefile
support/sdk/c/blip/aclocal.m4
support/sdk/c/blip/autom4te.cache/
support/sdk/c/blip/config.guess
support/sdk/c/blip/config.h
support/sdk/c/blip/config.status
support/sdk/c/blip/config.sub
support/sdk/c/blip/configure
support/sdk/c/blip/depcomp
support/sdk/c/blip/install-sh
support/sdk/c/blip/lib6lowpan/Makefile
support/sdk/c/blip/missing
support/sdk/c/blip/stamp-h.in
support/sdk/c/blip/stamp-h1

